# common --@rules_cc//cc/toolchains/args/archiver_flags:use_libtool_on_macos=False
build:windows_x86 --platforms=//platforms:windows_x86 --extra_toolchains=@llvm//toolchain:macos_aarch64_to_windows_x86_64
